<h1>  Bienvenue dans E-Campix</h1>

<h4> Ce Produit {{ pdf.TypeProduit }}</h4>
<h5> est de prix {{ pdf.prix_produit }}</h5>

<div style="margin-top: 26px; width: 200px">
<img src="{{ asset('/back/images/')}}{{ pdf.imgproduit }}" width="100" />
</div>
